<div class="bg"
     [style.background]="'url('+player1?.sprites?.back_default+')'"></div>
<div class="container">
    <!-- <h1>{{player1?.name}}</h1> -->
    <!-- <div class="types">
        <div *ngFor="let type of player1?.types"
             class="type">
            {{type?.type?.name}}
        </div>
    </div> -->
    <!--  <ng-container *ngIf="player1?.sprites"> -->
    <img class="flutuar player_1"
         [src]="player1?.sprites?.back_default"
         width="400px">

    <img class="flutuar2 player_2"
         [src]="player2?.sprites?.front_default"
         width="250px">
    <!-- </ng-container> -->
</div>